<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Winik Workflow: Register</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <form action="/register" method="post" enctype="multipart/form-data">
        <div class="login-container">
            <div class="login-info">
            <div class="header">
                Register
            </div>
            <div>
                <input type="text" placeholder="Username" name="username" autocomplete="off" required>
            </div>
            <div>
                <input type="password" placeholder="Password" name="password" autocomplete="off" required>
            </div>
            <div>
                <input type="email" placeholder="Email" name="email" autocomplete="off" required>
            </div>
            <div>
                <button name="post_button" type="submit" value="Submit">Submit</button>
            </div>
            <div class="topcorner">
               <div class="medium-button-dark" onclick="location.href='/'">
                    Return to login 
               </div> 
            </div>
            {% if message %}
            <div class="warning">
                {{message}}
            </div>
            {% endif %}
            </div>
        </div>
        </form>
        
        <script src="" async defer></script>
    </body>
</html>


<!-- <div class="login-container">
            <div class="login-info">
                <div class="header">
                    Pa Portal
                </div>
                <div>
                    <input type="text" placeholder="Enter Username" name="username" autocomplete="off">
                </div>
                <div>
                    <input type="password" placeholder="Enter Password" name="password" autocomplete="off">
                </div>
                <div>
                    <button name="post_button" type="submit" value="Login">Login </button>
                </div>
                <div class="warning">
                    {{message}}
                </div>
            </div>
        </div> -->