blinker==1.4
chardet==3.0.4
Click==7.0
edl==0.1.11
Flask==1.1.1
Flask-Mail==0.9.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
jsonify==0.5
MarkupSafe==1.1.1
MouseInfo==0.1.2
Pillow==7.0.0
PyGetWindow==0.0.8
PyMsgBox==1.0.7
pyobjc-core==6.1
pyperclip==1.7.0
PyRect==0.1.4
PyScreeze==0.1.26
PyTweening==1.0.3
requests==2.22.0
timecode==1.2.0
urllib3==1.25.7
Werkzeug==0.16.0
