<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>

        {% with error = get_flashed_messages() %}
        {% if error %}
            {% for e in error %}
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                    <div class="alert-text">
                        {{e}}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="row-container">
        <div class="title">
            <div class="header-container">
                <div class="logo-text">
                    <a href="/index">
                    <div class="logo">
                        <img src="{{url_for('static', filename='img/logo.png')}}">
                        Pa Portal
                    </div>
                    </a>
                </div>
                <div class="menu">
                    <a href='/account'>
                    <div class="user-greeting">
                        <i class="fa fa-circle" style="font-size:8px;color:rgb(255, 162, 230);margin-right:2px;"></i>
                        {{username.upper()}}
                    </div>
                    </a>
                    <button value="Search" type="menu" onclick="location.href='/search';">SEARCH</button>
                    <button value="Logout" type="menu" onclick="location.href='/logout'">LOGOUT</button>
                </div>
            </div>
            <h1> 
                {{message}}
            </h1>
            <hr>     
        </div>
        </div>
        
        <script src="" async defer></script>
    </body>
{% block viewport %}
    <p>This is default content from structure.html</p>
{% endblock %}
</html>