{% extends "structure.html" %}
{% block viewport %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{(title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/edl.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <form action="/convert-edl" method="post" enctype="multipart/form-data">
        <div class="container">
            <div class="crumb-row">
                <div class="mini-button align-left">
                    <a href='/index'>
                        <button value="GO BACK" type="modal">GO BACK</button>
                    </a>
                </div>
                <div class="mini-button align-right">
                    <a href=''>
                        <button value="HELP" type="modal">HELP</button>
                    </a>
                </div>
            </div>
            <div class="main-row">
                Account Info: Display and edit
            </div>
            <div class="main-row">
                Tracking Players: Display and delete
            </div>
            <div class="main-row">
                Files
            </div>
        </div>

        </form>
        
        <script>
            document.getElementById('file-upload').onchange = function () {
            var filename = this.value.replace(/^C:\\fakepath\\/, "");
            document.getElementById('file-text').innerHTML = filename;            
            };
        </script>
    </body>
</html>
{% endblock %}