{% extends "structure.html" %}
{% block viewport %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{(title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/edl.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <form action="/convert-edl" method="post" enctype="multipart/form-data">
        <div class="container">
            <div class="crumb-row">
                <input value="GO BACK" type="modal" onclick="location.href='/index';">
            </div>
            <div class="main-row">
                <div class="main-item">
                    <label for="file-upload" class="custom-file-upload">
                        <img src="{{url_for('static', filename='img/edlfile.png')}}" />
                    </label>
                    <input name="file" id="file-upload" type="file"/>
                    <div id="file-text" class="file-text" >
                        No File Selected...Yet 😈
                    </div>
                </div>
                <label for="convert" class="row-action">
                    <i class="fa fa-exchange" style="font-size:24px" aria-hidden="true"></i>
                </label>
                <input name="post_button" id="convert" type="convert" value="CONVERT">
            </div>
        </div>

        </form>
        
        <script>
            document.getElementById('file-upload').onchange = function () {
            var filename = this.value.replace(/^C:\\fakepath\\/, "");
            document.getElementById('file-text').innerHTML = filename;            
            };
        </script>
    </body>
</html>
{% endblock %}


<!-- <div class="faq-title">
                <input value="HELP"onclick="document.getElementById('id01').style.display='block'" type="modal">
                <div class="w3-container">
                    <div id="id01" class="w3-modal">
                        <div class="w3-modal-content">
                            <div class="w3-container">
                                <div class="modal-header">
                                    <div class="text">
                                        Add Player: Enter first and last name
                                    </div>
                                    <div class="span-shift">
                                        <span onclick="document.getElementById('id01').style.display='none'">&times;</span>
                                    </div>
                                </div>
                                <div class="modal-box">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->