{% extends "structure.html" %}
{% block viewport %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{(title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cuesheet.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <form action="/cuesheet" method="post" enctype="multipart/form-data">
        <div class="container">
            <div class = "crumb-row">
                <div class="mini-button align-left">
                    <a href='/index'>
                        <input value="GO BACK" type="modal">
                    </a>
                </div>
                <div class="mini-button align-right">
                    <a href=''>
                        <input value="HELP" type="modal">
                    </a>
                </div>
            </div>
            {% if tracks %}
                {% for track in tracks %}
                <div class="h-col">
                    <div class="half cue-info">
                        <div class='cue-title'>
                            {{track.title}}
                        </div>
                        <div class="cue-comp">
                            {{track.composers}}
                        </div>
                    </div>
                    <div class="quarter">
                        <input type="text" name="in-tc-{{track.index}}" placeholder="Enter In Timecode" required>
                    </div>
                    <div class="quarter">
                        <input type="text" name="out-tc-{{track.index}}" placeholder="Enter Out Timecode" required>
                    </div>
                </div>
                {% endfor %}
                <div class="push">
                    <input name="post_button" type="submit" value="CONVERT"/>
                </div>
            {% else %}
                <div>
                    <textarea type="text" placeholder="Copy & paste your cues from FilmTrack to here." name="info" required></textarea>
                </div>
                <input name="post_button" type="submit" value="SUBMIT"/>
            {% endif %}


        </div>
        </form>
        
        <script src="" async defer></script>
    </body>
</html>
{% endblock %}