{% extends "structure.html" %}
{% block viewport %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{(title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- TODO ADD HOVERS -->
        <form action="{{url_for('private.index')}}" method="post" enctype="multipart/form-data">
        <div class="row-container">
            <!-- <div class="title">
                <div class="user-store">
                    <input name="post_button" type="button" value="Logout">
                    <div class="user-greeting">
                        <span>Hello {{username}}!</span>
                    </div>
                </div>
                <div class="header-container">
                    <div class="logo-text">
                        <span>ROOKS PORTAL</span> 
                    </div>
                </div>
                <hr>     
            </div> -->

            <!-- Begin App Selector -->

            <div class="h-col">
                <div class="row-info">
                    <div class="image-box">
                        <img src="{{url_for('static', filename='img/logs.png')}}" />
                    </div>
                    <div class="row-description">
                        <div class="subheader">
                            Log Footage
                        </div>
                        <text>
                            Organize your footage from DMM<br>
                            Copy & paste a single clip for future use
                        </text>
                    </div>
                    <div class="row-action">
                        <div class="button-container">
                            <a href="/log">
                            <div class="go-button"> 
                                <i class="fa fa-angle-double-right" style="font-size:24px"></i>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="h-col">
                <div class="row-info">
                    <div class="image-box">
                        <img src="{{url_for('static', filename='img/headphones.png')}}" />
                    </div>
                    <div class="row-description">
                        <div class="subheader">
                            Create a Cuesheet
                        </div>
                        <text>
                            Copy & paste your cues from FilmTrack, <br>
                            I'll take care of the rest!
                        </text>
                    </div>
                    <div class="row-action">
                        <div class="button-container">
                            <a href="/cuesheet">
                            <div class="go-button"> 
                                <i class="fa fa-angle-double-right" style="font-size:24px"></i>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h-col">
                <div class="row-info">
                    <div class="image-box">
                        <img src="{{url_for('static', filename='img/document.png')}}" />
                    </div>
                    <div class="row-description">
                        <div class="subheader">
                            Edit Decision Log
                        </div>
                        <text>
                            Upload your .edl and export to an excel sheet! <br>
                            Click arrow to begin the conversion process.
                        </text>
                    </div>
                    <div class="row-action">
                        <div class="button-container">
                            <a onclick="document.getElementById('id02').style.display='block'">
                            <div class="go-button"> 
                                <i class="fa fa-angle-double-right" style="font-size:24px"></i>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="section-break">
                <h1>
                    Player Tracker
                </h1>
                
                <button value="+ ADD PLAYER" onclick="document.getElementById('id01').style.display='block'" type="modal">+ ADD PLAYER</button>
            </div>


            <hr> 

            <div id="id02" class="w3-modal">
                <div class="w3-modal-content">
                    <div class="modal-header">
                        <div class="text">
                            EDL to Premerie: Before you convert make sure you follow these rules.
                        </div>
                        <div class="span-shift">
                            <span onclick="document.getElementById('id02').style.display='none'">&times;</span>
                        </div>
                    </div>
                    <div class="modal-box">
                        <div class="img-settings">
                            <div class="image-box">
                                <img src="{{url_for('static', filename='img/settings.png')}}" />
                            </div>
                            <div class="text-setting">
                                
                                    <b>Step 1:</b> Make sure all clips are in a single line with the track highlighted as pictured below.
                                    <br>
                                    <b>Step 2:</b> Export Edl from File > Export > EDL with the settings pictured to the left.
                                
                                <img src="{{url_for('static', filename='img/timeline.png')}}" />
                            </div>
                        </div>
                        <div class="submit-container">
                            <a href="/convert-edl">
                                <input name="post_button" type="button" value="LET'S BEGIN!" >
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="id01" class="w3-modal">
                <div class="w3-modal-content">
                    <div class="modal-header">
                        <div class="text">
                            Add Player: Enter first and last name
                        </div>
                        <div class="span-shift">
                            <span onclick="document.getElementById('id01').style.display='none'">&times;</span>
                        </div>
                    </div>
                    <div class="modal-box">
                        <div class="input-container">
                            <input name="first_name" type="modaltext" placeholder="First Name" autocomplete="off" required>
                            <input name="last_name" type="modaltext" placeholder="Last Name" autocomplete="off" required>
                        </div>
                        <div class="submit-container">
                            <input name="post_button" type="submit" value="SEARCH FOR PLAYER">
                        </div>
                    </div>
                </div>
            </div>

                    
            <div class="players-grid">
            {% if player_list|length>0 %}
                {% for player in player_list %}
                    <div class="player-box">
                        <div class="box-top">
                            <div class="pcol1">
                                <img src="{{player.headshot}}">
                                <div class="icon">
                                    <a href="{{player.twitter}}" target="_blank">
                                        <img src="{{url_for('static', filename='img/twitter.png')}}">
                                    </a>
                                    <a href="/" target="_blank">
                                        <img src="{{url_for('static', filename='img/basketball.png')}}">
                                    </a>
                                </div>
                            </div>
                            <div class="pcol2">
                                <div class="header">
                                    {{player.first_name}} {{player.last_name}}
                                    <a href="/" target="_blank">
                                        <img src="{{url_for('static', filename='img/basketball.png')}}">
                                    </a>
                                    <a href="{{player.twitter}}" target="_blank">
                                        <img src="{{url_for('static', filename='img/twitter.png')}}">
                                    </a>
                                </div>
                                
                                <div class="sub-info">
                                    #{{player.number}} {{player.team}} POS: {{player.pos}}
                                </div>
                                <div class="stats-container">
                                    
                                    <div class="stat">
                                        <div class="header-color red">
                                            PTS
                                        </div>
                                        <div class="stat-number">
                                            {{player.pts}}
                                        </div>
                                    </div>
                                    <div class="stat">
                                        <div class="header-color yellow">
                                            REB
                                        </div>
                                        <div class="stat-number">
                                                {{player.reb}}
                                        </div>
                                    </div>
                                    <div class="stat">
                                        <div class="header-color green">
                                            AST
                                        </div>
                                        <div class="stat-number">
                                                {{player.ast}}
                                        </div>
                                </div>
                                    <div class="stat">
                                        <div class="header-color purple">
                                            3PM
                                        </div>
                                    <div class="stat-number">
                                            {{player.tpm}}
                                        </div>
                                    </div>
                                    <div class="stat">
                                        <div class="header-color black">
                                            STL
                                        </div>
                                        <div class="stat-number">
                                                {{player.stl}}
                                        </div>
                                    </div>
                                    <div class="stat">
                                        <div class="header-color blue">
                                            BLK
                                        </div>
                                        <div class="stat-number">
                                                {{player.blk}}
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="box-bottom">
                            <div class="textbox">
                                Last Night
                            </div>
                            <div class="statline">
                                {% if player.no_game == true %}
                                    No Game
                                {% else %}
                                    {{player.last_game.game_location}} {{player.last_game.opp_id}} 
                                    {{player.last_game.pts}}pts ({{player.last_game.fg}}-{{player.last_game.fga}}fg, {{player.last_game.fg3}}-{{player.last_game.fg3a}}fg3)  
                                    {{player.last_game.trb}}reb {{player.last_game.ast}}ast  
                                    {{player.last_game.stl}}stl {{player.last_game.blk}}blk {{player.last_game.tov}}tov
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="blank-box" onclick="document.getElementById('id01').style.display='block'" >
                <div class="box-top">
                    <div class="pcol0">
                        <img src="{{url_for('static', filename='img/headshot.png')}}">
                    </div>
                    
                    <div class="pcol3">
                        <div class="blank-text">
                            Track players by adding them to your account.
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}
            </div>
        </div>


        </form>

        
        <script src="" async defer>

        </script>
    </body>
</html>
{% endblock %}