{% extends "structure.html" %}
{% block viewport %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{(title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- TODO ADD HOVERS -->
        <form action="/index" method="post" enctype="multipart/form-data">
        <div class="row-container">
            <!-- <div class="title">
                <div class="user-store">
                    <input name="post_button" type="button" value="Logout">
                    <div class="user-greeting">
                        <span>Hello {{username}}!</span>
                    </div>
                </div>
                <div class="header-container">
                    <div class="logo-text">
                        <span>ROOKS PORTAL</span> 
                    </div>
                </div>
                <hr>     
            </div> -->

            <!-- Begin App Selector -->

            <div class="h-col">
                <div class="row-info">
                    <div class="image-box">
                        <img src="{{url_for('static', filename='img/logs.png')}}" />
                    </div>
                    <div class="row-description">
                        <div class="subheader">
                            Log Footage
                        </div>
                        <text>
                            Organize your footage by copy/pasting from DMM<br>
                            Log a single clip or multiple clips at once
                        </text>
                    </div>
                    <div class="row-action">
                        <div class="button-container">
                            <a href="/log">
                            <div class="go-button"> 
                                <i class="fa fa-angle-double-right" style="font-size:24px"></i>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="h-col">
                <div class="row-info">
                    <div class="image-box">
                        <img src="{{url_for('static', filename='img/headphones.png')}}" />
                    </div>
                    <div class="row-description">
                        <div class="subheader">
                            Create a Cuesheet
                        </div>
                        <text>
                            Copy & paste your cues from FilmTrack, <br>
                            I'll take care of the rest!
                        </text>
                    </div>
                    <div class="row-action">
                        <div class="button-container">
                            <a href="/cuesheet">
                            <div class="go-button"> 
                                <i class="fa fa-angle-double-right" style="font-size:24px"></i>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h-col">
                <div class="row-info">
                    <div class="image-box">
                        <img src="{{url_for('static', filename='img/document.png')}}" />
                    </div>
                    <div class="row-description">
                        <div class="subheader">
                            Edit Decision Log
                        </div>
                        <text>
                            Upload your .edl file and export into an excel sheet! <br>
                            Click here for help on how to prepare your file.
                        </text>
                    </div>
                    <div class="row-action">
                        <div class="button-container">
                            <div class="upload-border">
                                <label for="upload-file">
                                    <div class="subtext">
                                        <input type="file" name="file"/>
                                    </div>
                                </label>
                            </div>
                            <input name="post_button" type="submit" value="CONVERT"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="h-col">
                <div class="row-info">
                    <div class="image-box">
                        <img src="{{url_for('static', filename='img/language.png')}}" />
                    </div>
                    <div class="row-description">
                        <div class="subheader">
                            Transcribe a Video/Audio Clip
                        </div>
                        <text>
                            Not yet activated
                        </text>
                    </div>
                    <div class="row-action">
                        <div class="button-container">
                            <div class="upload-border">
                                <label for="upload-file">
                                    <div class="subtext">
                                        <input type="file" name="file"/>
                                    </div>
                                </label>
                            </div>
                            <input name="post_button" type="submit" value="TRANSCRIBE"/>
                        </div>
                    </div>
                </div>
            </div> -->
<!-- 
            Break

            <div class="section-break">
                <h1> 
                    Player Tracker
                </h1>
            </div>
            <hr> 
        </div> -->


        </form>
        <!-- <div class="container">
            <div class="cards">
                <div class="image-box">
                    <img src="{{url_for('static', filename='img/edl.png')}}" />
                    <h2>Edit Decision Log</h2>
                    <p>
                        Upload your Premiere Pro EDL File and export it into
                        a CSV
                    </p>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="cards">
                <div class="image-box">
                    <img src="{{url_for('static', filename='img/cue.png')}}" />
                    <h2>Cue Sheet</h2>
                    <p>
                        Copy & paste your cue sheet from FilmTrack and export
                        it into a CSV
                    </p>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="cards">
                <a href="/log">
                <div class="image-box">
                    <img src="{{url_for('static', filename='img/transcribe.png')}}" />
                    <h2>Log Footage</h2>  
                    <p>
                        Organize and store every clip for fast and easy access
                    </p>
                </div>
                </a>
                <div class="overlay"></div>
            </div>
        </div> -->


        
        <script src="" async defer></script>
    </body>
</html>
{% endblock %}