{% extends "structure.html" %}
{% block viewport %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Homepage</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="title">
            <h1> 
                What would you like to do today?
            </h1>
            <p> 
                Speed up your production workflow 
                by choosing one of the options below
            </p>        
        </div>

        <div class="container">
            <div class="cards">
                <div class="image-box">
                    <img src="{{url_for('static', filename='img/edl.png')}}" />
                    <h2>Edit Decision Log</h2>
                    <p>
                        Upload your Premiere Pro EDL File and export it into
                        a CSV
                    </p>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="cards">
                <div class="image-box">
                    <img src="{{url_for('static', filename='img/cue.png')}}" />
                    <h2>Cue Sheet</h2>
                    <p>
                        Copy & paste your cue sheet from FilmTrack and export
                        it into a CSV
                    </p>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="cards">
                <a href="/log">
                <div class="image-box">
                    <img src="{{url_for('static', filename='img/transcribe.png')}}" />
                    <h2>Log Footage</h2>  
                    <p>
                        Organize and store every clip for fast and easy access
                    </p>
                </div>
                </a>
                <div class="overlay"></div>
            </div>
        </div>


        
        <script src="" async defer></script>
    </body>
</html>
{% endblock %}