{% extends "structure.html" %}
{% block viewport %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{(title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/log.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <form action="/log" method="post" enctype="multipart/form-data">
        <div class="container">
            <div>
                <textarea type="text" placeholder="{{placeholder}}" name="info"></textarea>
            </div>
            <input name="post_button" type="submit" value="CONVERT"/>
            <div class="row">
            </div>
            {% with clip = previous_clip %}
            {% if previous_clip %}
                <div class="clip-title">
                    Previously Logged Clip:
                </div>
                <div class="h-col">
                    <div class="matchup-column">
                        
                        <div class="sub-column">
                            (H) {{home_team}}
                            <img src="{{url_for('static', filename='img/nba/'+home_team+'.png')}}" />
                            
                        </div>
                        <div class="sub-column">
                            (A) {{away_team}}
                            <img src="{{url_for('static', filename='img/nba/'+away_team+'.png')}}" />
                            
                        </div>
                    </div>
                    <div class="game-info">
                        <div class="info-column">
                        <div class="push-left">
                            <div class="info-header">
                                Game ID:
                            </div>
                            {{clip.game_id}}
                            <div class="info-header">
                                Date:
                            </div>
                            {{clip.game_date}}
                            <div class="info-header">
                                Occurs:
                            </div>
                            [{{clip.quarter}}] {{clip.time}}
                        </div>
                        </div>
                    </div>
                    <div class="matchup-info">
                        <div class="info-column">
                        <div class="push-left">
                            <div class="info-header">
                                Players:
                            </div>
                            {{clip.players}}
                            <div class="info-header">
                                Type:
                            </div>
                            {{clip.clip_type}}
                            <div class="info-header">
                                Rating:
                            </div>
                            {{clip.rating}}
                        </div>
                        </div>
                    </div>
                    <div class="matchup-info">
                        <div class="info-column">
                        <div class="push-left">
                            <div class="info-header">
                                Includes:
                            </div>
                            {{clip.includes}}
                            <div class="info-header">
                                Description:
                            </div>
                            {{clip.description}}
                        </div>
                        </div>
                    </div>
                    <div class="button-cont">
                        <input type="button" value="delete">
                    </div>
                </div>
            {% endif %}
            {% endwith %}
        </div>

        </form>
        
        <script src="" async defer></script>
    </body>
</html>
{% endblock %}