{% extends "structure.html" %}
{% block viewport %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{(title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/log.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <form action="/log" method="post" enctype="multipart/form-data">
        <div class="container">
            <div class="crumb-row">
                <button value="GO BACK" type="modal" onclick="location.href='/index'";>GO BACK</button>
                <button value="MANUAL" type="modal" onclick="location.href=''";>MANUAL</button>
            </div>
            <div>
                <textarea type="text" placeholder="{{placeholder}}" name="info" required></textarea>
            </div>
            <input name="post_button" type="submit" value="CONVERT"/>
            <div class="row">
            </div>
            {% with clip = previous_clip %}
            {% if previous_clip %}
                <div class="clip-title">
                    Previously Logged Clip:
                </div>
                <div class="h-col">
                    <div class="matchup-column">
                        
                        <div class="sub-column">
                            (H) {{home_team}}<br>
                            <img src="{{url_for('static', filename='img/nba/'+home_team+'.png')}}" />
                            
                        </div>
                        <div class="sub-column">
                            (A) {{away_team}}<br>
                            <img src="{{url_for('static', filename='img/nba/'+away_team+'.png')}}" />
                            
                        </div>
                    </div>
                    <div class="game-info">
                        <div class="col-1">
                                <div class="info-header">
                                    GAME ID
                                </div>
                                <div class="strip">
                                {{clip.game_id}}
                                </div>
                            <div class="info-header">
                                DATE
                            </div>
                            <div class="strip">
                            {{clip.game_date}}
                            </div>
                            <div class="info-header">
                                OCCURS AT
                            </div>
                            [Q{{clip.quarter}}] {{clip.time}}
                        </div>
                        <div class="col-1">
                            <div class="info-header">
                                RATING
                            </div>
                            <div class="strip">
                            {{clip.rating}}
                            </div>
                            <div class="info-header">
                                TYPE
                            </div>
                            <div class="strip">
                            {{clip.type}}
                            </div>
                            <div class="info-header">
                                INCLUDES
                            </div>
                            {{clip.includes}}
                        </div>
                        <div class="col-2">
                            <div class="info-header">
                                PLAYERS
                            </div>
                            <div class="strip">
                            {{clip.players}}
                            </div>
                            <div class="info-header">
                                DESCRIPTION
                            </div>
                            {{clip.description}}
                        </div>
                    </div>
                    <div class="button-cont">
                        <input type="button" value="DELETE CLIP">
                    </div>
                </div>
            {% endif %}
            {% endwith %}
        </div>

        </form>
        
        <script src="" async defer></script>
    </body>
</html>
{% endblock %}