<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Footage Log</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/log.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <form action="/log" method="post" enctype="multipart/form-data">
        <div class="container">
            <h1>Log</h1>
            <div>
                <textarea type="text" placeholder="Copy & paste the exact clip information from the DMM to here." name="info"></textarea>
            </div>
            <div>
                <input name="post_button" type="submit" value="Convert">
            </div>
            <div>
                <font color="red">{{message}}</font>
            </div>
            <div>
                <a href="/index"> Index </a>
            </div>
        </div>
        </form>
        
        <script src="" async defer></script>
    </body>
</html>