{% extends "structure.html" %}
{% block viewport %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{(title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/log.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <form action="/log-commit" method="post" enctype="multipart/form-data">
        <div class="container">
            <div class="clip_container">
                <div class="column">
                   <div class="inline_input">
                        Game ID: <input type="text" name="game_id" value="{{clip.game_id}}"><br>
                        Home Team: <input type="text" name="home_team" value="{{clip.home_team}}"><br>
                        Away Team: <input type="text" name="away_team" value="{{clip.away_team}}"><br>
                        Game Date: <input type="text" name="game_date" value="{{clip.game_date}}"><br>
                   </div>
                </div>
                <div class="column">
                    <div class="inline_input">
                        Clip Rating: <input type="text" name="rating" value="{{clip.rating}}"><br>
                        Clip Type: <select name="type">
                                    <option value="layup">Layup</option>
                                    <option value="jumper">Jumper</option>
                                    <option value="assist">Assist</option>
                                    <option value="three">Three Pointer</option>
                                    <option value="steal">Steal</option>
                                    <option value="block">Block</option>
                                    <option value="player-story">Player Story</option>
                                    <option value="other">Other</option>
                                </select><br>
                        Includes: <select name="includes">
                                <option value="none">---</option>
                                <option value="livecall">Livecall</option>
                                <option value="dribble">Dribble</option>
                                <option value="emotion">Emotion</option>
                                </select><br>   
                        Players: <input type="text" name="players" value="{{clip.players}}"><br>     
                    </div>
                </div>
                <div class="column">
                    <div class="inline_input">
                        Description: <textarea  ID="clipDescription" name="description">{{clip.description}}</textarea><br>
                        Occurs At:
                        <div class="gametime">
                            <div class="gametime-col1">
                                <select name="quarter" id="quarter">
                                    <option value="1" {% if clip.period=='1' %} selected="selected"{% endif %}>Q1</option>
                                    <option value="2" {% if clip.period=='2' %} selected="selected"{% endif %}>Q2</option>
                                    <option value="3" {% if clip.period=='3' %} selected="selected"{% endif %}>Q3</option>
                                    <option value="4" {% if clip.period=='4' %} selected="selected"{% endif %}>Q4</option>
                                    <option value="5" {% if clip.period=='5' %} selected="selected"{% endif %}>OT</option>
                                </select>
                            </div>
                            <div class="gametime-col2">
                                <input type="text" name="time" value="{{clip.time}}"><br>
                            </div>
                        </div>
                        <div class="button-push">
                            <button name="post_button" value="COPY INFO"/>COPY INFO</button><br>
                        </div>
                    </div>
                </div>
 <!-- Game ID: <input type="text" name="fname"><br>
                        Home Team: <input type="text" name="lname"><br>
                        Away Team: <input type="text" name="email"> -->
            </div>
            <input name="post_button" type="submit" value="COMMIT"/>
            <div class="row">
                
            </div>
        </div>

        </form>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" async defer>
            $("#quarter option[value=3]").prop('selected', 'selected');
        </script>
    </body>
</html>
{% endblock %}