

/* LOGIN REGISTER INPUTS */

input[type=logintext], input[type=password], input[type=email] {
    width: 320px;
    padding: 12px 20px;
    border-width: 0px;
    margin: 8px 2px;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(170, 239, 255, 0);
    text-align: center;
    outline: none;
    color: white;
    text-shadow: 0px 1px 2px #1a0404cf;
}

input[type=text]::placeholder, input[type=password]::placeholder input[type=email]::placeholder  {
  color: rgba(255, 255, 255, 0.701);
}

/* input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 204, 238, 0);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 0px solid rgba(81, 204, 238, 0);
} */



/* Login Button  */

button[type=submit] {
    width: auto;
    background-color: rgba(70, 187, 105, 0);
    border: 2px solid rgb(49, 94, 76);
    color: rgb(66, 137, 109);
    padding: 16px 32px;
    margin: 30px 0;
    border-radius: 4px;
    cursor: pointer;
  }

button[type=submit]:hover {
  background-image: linear-gradient(120deg,  rgba(138, 214, 255, 0.29), rgba(207, 147, 235, 0));
  border: 2px solid rgb(186, 255, 227);
  color: rgb(186, 255, 227);
  }


.medium-button-dark {
    height: 18px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid;
    border-radius: 4px;
    border-color: rgba(50, 130, 133, 0.541);
    overflow: hidden;
    transition: ease-in .4s;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    font-size: 8px;
    color: white;
    background-image: linear-gradient(120deg,  rgba(138, 214, 255, 0.29), rgba(207, 147, 235, 0));;
    box-shadow: 0px 3px 10px -5px rgb(128, 128, 128, .4);
    text-align: center;
    line-height: 20px;
    letter-spacing: 1px;
    cursor: pointer;
}


/* INDEX BUTTON MENU */

button[type=menu] {
    height: 22px;
    width: 50px;
    border-width: 0px;
    border-radius: 4px;
    overflow: hidden;
    transition: ease-in .4s;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    font-size: 8px;
    color: rgb(255, 162, 230);
    background-color: rgba(255, 255, 255, 0);
    /* box-shadow: 0px 3px 10px -5px rgb(128, 128, 128, .4); */
    cursor: pointer;
    text-align: center;
    line-height: 22px;
}

button[type=menu]:hover:nth-child(2) {
    background-color: rgba(99, 240, 92, 0.8);
    transition: ease-in;
    color: white;
}

button[type=menu]:hover:nth-child(3){
    background-color: rgba(255, 32, 32, 0.8);
    transition: ease-in;
    color: white;
}


/* Copy button */

button[type=copy] {
    width: 100%;
    height: 25px;
    background-color: rgba(255, 255, 255, 0);
    background-image: linear-gradient(120deg,  rgba(140, 228, 242, 0), rgba(69, 196, 242, 0));
    box-shadow: 0px 10px 20px -10px rgba(18, 55, 43, 0.5);
    color: rgb(153, 210, 210);
    border: 2px rgb(153, 210, 210) solid;
    border-radius: 4px;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    transition: ease-in .4s;
    letter-spacing: 3px;
}

button[type=copy]:hover {
    width: 100%;
    height: 25px;
    background-image: linear-gradient(120deg,  rgba(140, 228, 242, 0.722), rgba(69, 196, 242, 0));
    color: rgb(255, 230, 176);
    border: 2px rgba(255, 230, 176, 0.708) solid;
    transition: ease-in .2s;
}


/* TEXT Input */
input[type=text] {
  width: 78%;
  height: 35px;
  padding: 10px;
  margin: 0;
  border-style: solid;
  border-width: 0px;
  border-color: rgba(231, 184, 255, 0.6);
  color: black;
  border-radius: 0px;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  background-color: rgb(201, 76, 76, 0);
  transition: ease-in .4s;
  display: inline-block;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* MODAL TEXT */
input[type=modaltext] {
  width: 78%;
  height: 35px;
  padding: 10px;
  margin: 0;
  border-style: solid;
  border-width: 0px;
  border-color: rgba(231, 184, 255, 0.6);
  color: rgb(29, 3, 42);
  border-radius: 0px;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  background-color: rgb(201, 76, 76, 0);
  transition: ease-in .4s;
  display: inline-block;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* TCTEXT */

input[type=tctext] {
  width: 78%;
  height: 35px;
  padding: 0px;
  padding-left: 10px;
  margin: 0;
  border-radius: 4px;
  border-color: rgba(50, 130, 133, 0.541);
  overflow: hidden;
  transition: ease-in .4s;
  font-family: 'Exo', sans-serif;
  font-size: 10px;
  background-image: linear-gradient(120deg,  rgba(138, 214, 255, 0.29), rgba(207, 147, 235, 0));
  background-color: rgba(245, 245, 220, 0);
  box-shadow: 0px 3px 10px -5px rgb(128, 128, 128, .4);
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  transition: ease-in .4s;
  display: inline-block;
  letter-spacing: 1px;
  margin-bottom: 15px;
  color: white;
  text-shadow: 0px 1px 2px #1a0404cf;
}

input[type=tctext]::placeholder {
  color: rgb(156, 218, 235);
}


/* POST BUTTON */

button[type=post] {
  width:100px;
  float: right;
  margin-right: 10px;
  border-radius: 8px;
  font-family: 'Lato', sans-serif;
  font-size: 8px;
  padding: 8px;
  transition: ease-in .4s;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(120deg,  rgba(255, 255, 255, 0.187), rgba(147, 235, 187, 0));
  box-shadow: 0px 3px 10px -5px rgba(23, 90, 23, 0.253);
  transition: ease-in;
  color: rgb(184, 255, 194);
  border-color: rgb(137, 255, 171);
}

button[type=post]:hover {
  background-color:rgb(255, 162, 230);
  box-shadow: 0px 3px 10px -5px rgba(151, 255, 163, 0.678);
  transition: ease-in;
  color: rgb(255, 255, 255);
  border-color: rgba(137, 255, 170, 0);
  transition: ease-out .2s;
}


/* MINI MODAL */

button[type=modal]{
  height: 25px;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  border-width: 0px;
  border-radius: 4px;
  overflow: hidden;
  transition: ease-in .4s;
  display: inline-block;
  margin-top: 8px;
  display: inline-flex;
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  font-size: 8px;
  color: rgb(255, 162, 230);
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  text-align: center;
  
}

button[type=modal]:hover {
  background-color: rgb(187, 135, 235);
  transition: ease-in;
  color: white;
  box-shadow: 0px 3px 10px -5px rgb(128, 128, 128, .4);
}

input[type=modal] {
  height: 25px;
  width:auto;
  max-width: 50px;
  padding-left: 5px;
  padding-right: 5px;
  border-width: 0px;
  border-radius: 4px;
  overflow: hidden;
  transition: ease-in .4s;
  display: inline-block;
  margin-top: 8px;
  display: inline-flex;
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  font-size: 8px;
  color: rgb(255, 162, 230);
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  text-align: center;
  
}

input[type=modal]:hover{
  background-color: rgb(187, 135, 235);
  transition: ease-in;
  color: white;
  box-shadow: 0px 3px 10px -5px rgb(128, 128, 128, .4);
}


input[type=submit] {
  width: 100%;
  min-width:80px;
  height: 35px;
  margin: 0;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  background-color: rgb(201, 76, 76, 0);
  transition: ease-in .4s;
  display: inline-block;
  letter-spacing: 3px;
  background-image: linear-gradient(120deg,  rgba(255, 255, 255, 0), rgba(147, 235, 187, 0));
  box-shadow: 0px 3px 10px -5px rgba(250, 106, 243, 0.253);
  transition: ease-in;
  color: rgb(255, 162, 230);
  border-color: rgb(255, 162, 230);
}

input[type=submit]:hover {
  background-image: linear-gradient(120deg,  rgba(255, 255, 255, 0.187), rgba(147, 235, 187, 0));
  box-shadow: 0px 3px 10px -5px rgba(151, 255, 151, 0.678);
  transition: ease-in;
  color: rgb(184, 255, 194);
  border-color: rgb(137, 255, 171);
}



input[type=button] {
  
  height:auto;
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid;
  border-radius: 4px;
  border-color: rgba(50, 130, 133, 0.541);
  overflow: hidden;
  transition: ease-in .4s;
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  font-size: 8px;
  color: rgb(17, 173, 95);
  background-image: linear-gradient(120deg,  rgba(138, 214, 255, 0), rgba(207, 147, 235, 0));;
  box-shadow: 0px 3px 10px -5px rgb(128, 128, 128, .4);
  text-align: center;
  line-height: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: ease-in;

}


input[type=button]:hover {
  border-color: rgba(93, 206, 136, 0.541);
  transition: ease-in;
  background-image: linear-gradient(120deg,  rgba(57, 236, 147, 0.287), rgba(57, 236, 147, 0.287));;

}


button[type=convert] {
  display: none;
}
