@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:700|Lato&display=swap');


.container {
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    width: 80%;
    margin: 0 auto;
    max-width: 760px;
}

textarea, select {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.crumb-row {
    display: inline-flex;
    justify-content: space-between;
    width:100%;
    margin-bottom: 10px;
}

.mini-button{
    width: auto;
    height: auto;
    margin: 0;
    cursor: pointer;
    color: rgb(182, 134, 206);
    margin-bottom: 10px;
}

.row {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.row .column {
    background-color: green;
    width: 50px;
    height: 50px
}


.h-col {
    width: 100%;
    height: auto;
    line-height: 25px;
    margin-top: 0px;
    margin-bottom: 10px;
    min-height: 103px;
    display: inline-flex;
    background-image: linear-gradient(120deg,  rgba(140, 228, 242, 0.722), rgba(69, 196, 242, 0.4));
    box-shadow: 0px 10px 20px -10px rgba(18, 55, 43, 0.5);
    border: 2px rgb(153, 210, 210) solid;
    -moz-box-shadow:    inset 0 0 10px #0000004a;
    -webkit-box-shadow: inset 0 0 10px #0000004a;
    box-shadow:         inset 0 0 10px #0000004a;
}

.half {
    width: 50%;
    height: auto;
    float: left;
}

.quarter {
    width: 25%;
    height: auto;
    line-height: 95px;
}


.cue-info {
    margin-left: 30px;
    margin-top: 10px;
}

.cue-title {
    color: rgb(255, 255, 255);
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-shadow: 0px 1px 2px #1a0404cf;
}

.cue-comp {
    color:  rgb(255, 162, 230);
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;
    line-height: 20px;;
    text-shadow: 0px 1px 2px #1a040479;
}

.push {
    margin-top: 30px;
}