@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:700|Lato&display=swap');


.container {
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

textarea, select {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.clip_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    border-radius: 4px;
    box-sizing: border-box;
    background-image: linear-gradient(120deg,  rgba(255, 255, 255, 0.582), rgb(207, 147, 235, .4));
    box-shadow: 0px 10px 20px -10px rgba(76, 120, 203, 0.5);
}

.column {
    width: 33%;
    height: 100%;
    /* background: lightgray;
    border-style: solid;
    border-width: 1.5px; */
}

.inline_input {
    display: block;
    color: rgb(32, 32, 70);
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

input[type=submit] {
    width: 100%;
    height: 50px;
    margin: 0;
    cursor: pointer;
    text-align: center;
    border-style: solid;
    border-width: 1.5px;
    border-color: rgba(231, 184, 255, 0.6);
    color: rgb(182, 134, 206);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 10px -5px rgb(128, 128, 128, .4);
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    background-color: rgb(201, 76, 76, 0);
    transition: ease-in .4s;
    display: inline-block;
    letter-spacing: 3px;
    margin-top: 10px;
}

input[type=submit]:hover {
    background-image: linear-gradient(120deg,  rgba(255, 255, 255, 0.397), rgba(147, 235, 187, 0.4));
    box-shadow: 0px 3px 10px -5px rgba(151, 255, 163, 0.678);
    transition: ease-in;
    color: rgb(82, 188, 96);
    border-color: #C9FFD0;
}

input[type=text], select {
    width: 90%;
    padding: 6px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }