@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:700|Lato&display=swap');

body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-image: url('/static/img/rooksbg copy.png'); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 100px;
}

hr {
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid rgb(236, 236, 236);
    padding: 0; 
}

h1 {
    color: #403236;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    margin-block-start: 0.5em;
    margin-block-end: 0.2em;
}

h2 {
    color: rgb(255, 255, 255);
    font-family: 'PT Sans', sans-serif;
}

text {
    color: rgb(32, 32, 70);
    font-family: 'Lato', sans-serif;
    padding: 0px;
    font-size: 14px;
}

.subtext {
    color: rgb(21, 11, 163);
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    font-size: 12px;
    vertical-align: middle;
}
/* 
input[type=button] {
    width: 80px;
    height: 25px;
    background-color: rgb(223, 83, 59);
    color: white;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 3px 10px -5px rgb(128, 128, 128, .4);
} */

.button {
    width: 80px;
    height: 25px;
    color: white;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 3px 10px -5px rgb(128, 128, 128, .4);
    text-align: center;
    margin-left: 10px;
}

.button:nth-child(1) {
    background-color: rgb(223, 83, 59);
}

.button:nth-child(2) {
    background-color: rgb(21, 172, 51);
}

.button-text {
    display: inline-block;
    margin: auto;
    margin-top: 4px;
}

label {
    cursor: pointer;]
    /* Style as you please, it will become the visible UI component. */
 }

#upload-file {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

input[type=text] {
    width: 78%;
    height: 35px;
    padding: 10px;
    margin: 0;
    border-style: solid;
    border-width: 0px;
    border-color: rgba(231, 184, 255, 0.6);
    color: rgb(29, 3, 42);
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0px 3px 10px -5px rgb(128, 128, 128, .4);
    font-family: 'Lato', sans-serif;
    background-color: rgb(201, 76, 76, 0);
    transition: ease-in .4s;
    display: inline-block;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

input[type=submit] {
    width: 80%;
    min-width:80px;
    height: 35px;
    margin: 0;
    cursor: pointer;
    text-align: center;
    border-style: solid;
    border-width: 1.5px;
    border-color: rgba(231, 184, 255, 0.6);
    color: rgb(182, 134, 206);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 10px -5px rgb(128, 128, 128, .4);
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    background-color: rgb(201, 76, 76, 0);
    transition: ease-in .4s;
    display: inline-block;
    letter-spacing: 3px;
}

input[type=submit]:hover {
    background-image: linear-gradient(120deg,  rgba(255, 255, 255, 0.397), rgba(147, 235, 187, 0.4));
    border-color: #C9FFD0;
    box-shadow: 0px 3px 10px -5px rgba(151, 255, 151, 0.678);
    transition: ease-in;
    color: rgb(82, 188, 96);
}



input[type=button] {
    width: 80%;
    min-width:80px;
    height: 35px;
    margin: 0;
    cursor: pointer;
    text-align: center;
    border-style: solid;
    border-width: 1.5px;
    border-color: rgba(231, 184, 255, 0.6);
    color: rgb(182, 134, 206);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 10px -5px rgb(128, 128, 128, .4);
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    background-color: rgb(201, 76, 76, 0);
    transition: ease-in .4s;
    display: inline-block;
    letter-spacing: 3px;
}

input[type=button]:hover {
    background-image: linear-gradient(120deg,  rgba(255, 255, 255, 0.397), rgba(147, 235, 187, 0.4));
    border-color: #C9FFD0;
    box-shadow: 0px 3px 10px -5px rgba(151, 255, 151, 0.678);
    transition: ease-in;
    color: rgb(82, 188, 96);
}


button[type=submit] {
    width: 80%;
    min-width:80px;
    height: 35px;
    margin: 0;
    cursor: pointer;
    text-align: center;
    border-style: solid;
    border-width: 1.5px;
    border-color: rgba(231, 184, 255, 0.6);
    color: rgb(182, 134, 206);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 10px -5px rgb(128, 128, 128, .4);
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    background-color: rgb(201, 76, 76, 0);
    transition: ease-in .4s;
    display: inline-block;
    letter-spacing: 3px;
}

button[type=submit]:hover {
    background-image: linear-gradient(120deg,  rgba(255, 255, 255, 0.397), rgba(147, 235, 187, 0.4));
    border-color: #C9FFD0;
    box-shadow: 0px 3px 10px -5px rgba(151, 255, 151, 0.678);
    transition: ease-in;
    color: rgb(82, 188, 96);
}

.title {
    text-align: justify;
}

.title .header-container {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}

.user-store .user-greeting {
    width: 80px;
    height: 25px;
    text-align: center;
    border: 0px dashed #f69c55;
    text-align: center;
}

.user-store .user-greeting span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding-top: 4px;
}


.user-store {
    padding-top: 10px;
    display: flex;
    flex-flow: row-reverse wrap;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    vertical-align: middle;
}

p {
    color: black;
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
}

.logo-text {
    font-family: 'Bowlby One SC', cursive;
    font-size: 1em;
    color: rgb(252, 211, 255)
}

.subheader {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: rgb(3, 59, 75);
    letter-spacing: .5px;
}

.logo-text span{
    font-family: 'Bowlby One SC', cursive;
    font-size: 1em;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(51, 40, 100, 0.4);
}

.row-container {
    width: 80%;
    max-width: 760px;
    height: 80%;
    margin: auto;
    /* background-color: rgb(176, 236, 236); */
}

/* App Directors CSS */
.h-col {
    width: 100%;
    height: auto;
    border-style: solid;
    border-width: 0px;
    border-color: rgb(223, 223, 223);
    border-radius: 1em; 
    line-height: 25px;
    margin-top: 20px;
    min-height: 103px;
    background-image: linear-gradient(120deg,  rgba(255, 255, 255, 0.582), rgb(207, 147, 235, .4));
    box-shadow: 0px 10px 20px -10px rgba(76, 120, 203, 0.5);
}

.h-col .row-info {
    display: flex;
    vertical-align: middle;
}


.h-col .row-info .image-box {
    position: relative;
    /* background-color: tomato; */
    width: 12%;
    text-align: center;
    display: block;
    overflow: hidden;
    min-height: 100%;
    line-height: 90px;
}


.h-col .row-info .image-box img {
    width: 60%;
    max-width: 65px;
    margin: 0 auto;
    vertical-align: middle;
    padding-top: 5px;
}

.h-col .row-info .row-description {
    /* background-color: yellow; */
    width:68%;
    padding: 10px;
}   

.h-col .row-info .row-action {
    /* background-color: gray; */
    width:20%;
    text-align: center;
    
}  

.h-col .row-info .row-action .button-container {
    text-align: center ; 
}

.h-col .row-info .row-action .button-container .go-button {
    max-width: 70px;
    min-width: 60px;
    width: 50%;
    height: 100%;
    background-color: None;
    border-style: solid;
    border-width: 1.5px;
    border-color: rgba(231, 184, 255, 0.6);
    color: rgb(182, 134, 206);
    border-radius: 10px;
    overflow: hidden;
    line-height: 60px;
    box-shadow: 0px 3px 10px -5px rgb(128, 128, 128, .4);
    margin-top: 17px;
    transition: ease-in .4s;
    display: inline-block;
    cursor: pointer;
}

.h-col .row-info .row-action .button-container:hover .go-button  {
    background-image: linear-gradient(120deg,  rgba(255, 255, 255, 0.397), rgba(147, 235, 187, 0.4));
    box-shadow: 0px 3px 10px -5px rgba(151, 255, 151, 0.678);
    transition: ease-in;
    color: rgb(82, 188, 96);
    border-color: #C9FFD0;
}



.h-col .row-info .row-action .button-container .log-button-single {
    width: 80%;
    height: 80%;
    background-color: None;
    margin: 0  auto;
    margin-top: 15px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(21, 11, 163);
    border-radius: 5px;
}

.h-col .row-info .row-action .button-container .upload-border {
    width: 80%;
    height: 36px;
    background-color: None;
    margin: 0  auto;
    margin-top: 3px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(21, 11, 163,.0);
    border-radius: 5px;
    overflow: hidden;
    line-height: 50px;
}

a:link {
    color: white;
    text-decoration: none;
}

.section-break {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}


.upload-content {
    justify-items: center;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    text-align: center;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

.alert .alert-text{
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
}


input[type=modal] {
    height: 25px;
    width: 80px;
    text-align: center;
    border-width: 0px;
    border-radius: 4px;
    overflow: hidden;
    transition: ease-in .4s;
    display: inline-block;
    margin-top: 8px;
    display: inline-flex;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    font-size: 8px;
    color: rgb(182, 134, 206);
    background-color: rgba(255, 255, 255, 0.411);
    box-shadow: 0px 3px 10px -5px rgb(128, 128, 128, .4);
    cursor: pointer;
}

input[type=modal]:hover {
    background-color: rgba(187, 135, 235, .8);
    transition: ease-in;
    color: white;
}


.modal-box {
    padding:0;
    margin: 0 auto;
    min-height: 200px;
    text-align: center;
}

.modal-box .img-settings {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-box .img-settings .text-setting img {
    width: 100%;
    height: auto;
    box-shadow: 0px 3px 8px -3px rgba(14, 14, 14, 0.424);
    border-radius: 4px;
    margin-top: 15px;
}

.modal-box .img-settings .text-setting{
    margin-left: 20px;
    text-align: left;
}

.modal-box .image-box img {
    height: 200px;
    width: auto;
    box-shadow: 0px 3px 8px -3px rgba(0, 0, 0, 0.424);
    border-radius: 4px;
}

.modal-header {
    background-color: rgb(131, 250, 145);
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-width:2px;
    border-color: darkgreen;
    border-radius: 5px;
}


.modal-header .text {
    margin-top: 9px;
    margin-left: 10px;
    color: darkgreen;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}

.span-shift {
    margin-top: 8px;
    margin-right: 10px;
    cursor: pointer;
}

.input-container {
    position: relative;
    margin-top: 30px;
    width: 100%;
    margin-bottom: 20px;
}

.players-grid {
    width:100%;
    height: auto;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    grid-auto-rows: 180px 180px;
}

.players-grid .player-box {
    height: 180px;
    width:auto;
    color:white;
    box-shadow: 0px 10px 20px -10px rgba(23, 38, 66, 0.308);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.479);
}

/* 
.players-grid .player-box .pcol1 .icon {
    
} */


.players-grid .player-box .box-top .pcol1 .icon img {
    margin-top: 10px;
    height: 15px;
    width: auto;
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
}


.players-grid .player-box .box-top .pcol1 img {
    height:90px;
    width:auto;
    margin-left: 8px;
    margin-top: 8px;
    border-radius: 4px;
    box-shadow: 0px 10px 20px -10px rgba(23, 38, 66, 0.308);
}

.player-box .box-top .pcol1 {
    width:33%;
}

.player-box .box-top .pcol2 {
    width:67%;
    margin-left:8px;
}


.pcol2 .header {
    margin-top: 6px;
}

.pcol2 .sub-info {
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    font-size: 8px;
    color:black;
    background-color: rgb(255, 255, 255);
    padding:2px;
    width:89%;
}

.box-top {
    width: 100%;
    height:80%;
    display: inline-flex;
    justify-content: space-between;
}
.box-bottom {
    width: 100%;
    height:20%;
    background-image: linear-gradient(120deg,  rgb(255, 255, 255), rgb(207, 147, 235, .4));
    display: inline-flex;
    border-radius: 0px 0px 5px 5px;
}

.box-bottom .textbox {
    width: 60px;
    height: 20px;
    background-image: linear-gradient(120deg,  rgba(255, 255, 255, 0.582), rgb(207, 147, 235, .4));
    color: rgb(32, 32, 70);
    font-family: 'Lato', sans-serif;
    padding: 0px;
    font-size: 10px;
    text-align: center;
    line-height: 18px;
    margin-top: 7px;
    margin-left: 8px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(165, 82, 204, 0.602);
}

.box-bottom .statline {
    line-height: 18px;
    margin-top: 8px;
    margin-left: 8px;
    color: rgb(32, 32, 70);
    font-family: 'Lato', sans-serif;
    padding: 0px;
    font-size: 10px;
}

.stats-container {
    margin-top: 5px;
    width:90%;
    height: auto;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    grid-auto-rows: 40px 40px;
}

.stats-container .stat {
    height: 40px;
    width:auto;
    background-image: linear-gradient(120deg,  rgba(255, 255, 255, 0.582), rgb(207, 147, 235, .4));
    box-shadow: 0px 10px 20px -10px rgba(23, 38, 66, 0.308);
    border-radius: 5px;
}

.stats-container .stat-number {
    height: auto;
    width:auto;
    margin-top: 5px;
    background-image: linear-gradient(120deg,  rgba(255, 255, 255, 0.582), rgb(207, 147, 235, .4));
    box-shadow: 0px 10px 20px -10px rgba(23, 38, 66, 0.308);
    border-radius: 5px;
    text-align: center;
    color: rgb(55, 15, 100);
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
}

.stats-container .stat .header-color {
    height: 12px;
    width:100%;
    border-radius: 4px 4px 0px 0px;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    font-size: 8px;
    color:white;
    text-align: center;
    line-height: 13px;
}

.red {
    background-color: Red;
}

.yellow {
    background-color: orange;
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}

.black {
    background-color: black;
}

.blue {
    background-color: blue;
}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="players-grid"] {
        grid-template-columns: repeat(1, 1fr);
    }
    [class*="subheader"] {
        font-size: 12px;
    }
    text {
        font-size: 12px;
    }
    input {
        font-size: 8px;
    }
    .players-grid .player-box .box-top .pcol1 img {
        height:130px;
        margin-top: 8px;
    }
  }