body {
    margin: 0;
    padding: 0;
    background-color: rgb(34, 34, 34);
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #CC9BC4;
    font-family: 'PT Sans', sans-serif;
    font-size: 3em;
}

h2 {
    color: rgb(255, 255, 255);
    font-family: 'PT Sans', sans-serif;
}

.title {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 10px;
}

p{
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}

.container {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
    padding-top: 20px;
}

.container .cards {
    position: relative;
    width: 300px;
    height: 400px;
    background: rgb(66, 66, 66);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10%;
    cursor: pointer;
}

.container .cards:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(187, 187, 187, 0.2);
    z-index: 20;
    pointer-events: none;
    border-radius: 20%;
}

.container .cards:nth-child(1) {
    background: linear-gradient(45deg, #86A8E7, #7F7FD5);
    box-shadow: 1px 3px 5px rgb(136, 170, 235, .3);
}
 
.container .cards:nth-child(2) {
    background: linear-gradient(45deg, #43C6AC, rgb(50, 150, 130));
    box-shadow: 1px 3px 5px rgb(68, 199, 173, .3);
}

.container .cards:nth-child(3) {
    background: linear-gradient(45deg, rgb(231, 185, 76), #f7797d);
    box-shadow: 1px 3px 5px rgb(231, 185, 76, .3);
}

a:link {
    text-decoration: none;
}