body {
    margin: 0;
    padding: 0;
    background-color: rgb(39, 36, 36);
}

h1 {
    color: #CC9BC4;
    font-family: 'PT Sans', sans-serif;
}

.title {
    text-align: center;
    background-color: rgba(243, 255, 72, 0.1); 
    padding-top: 60px;
    padding-bottom: 30px;
}

.title p{
    color: white;
    font-family: 'Open Sans', sans-serif;
}

/*  SECTIONS  */


  