body {
    background-color: rgb(236, 233, 233);
}

.login-container {
    width: 400px;
    height: 380px;
    background-color: cornsilk;
    box-shadow:  5px 5px rgb(233, 153, 126, 0.8);
    margin: 100px auto 0;
    text-align: center;
}

h1 {
    color: #CC9BC4;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5em;
    padding-top: 20px;
}

a {
    color: rgb(52, 50, 202);
    font-family: 'PT Sans', sans-serif;
    font-size: .7em;
}

a:hover {
    color: rgb(235, 82, 159);
    font-family: 'PT Sans', sans-serif;
    font-size: .7em;
}

input[type=text], select {
    width: 320px;
    padding: 12px 20px;
    margin: 8px 2px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=password], select {
    width: 320px;
    padding: 12px 20px;
    margin: 8px 2px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=submit] {
    width: 320px;
    background-color: rgb(70, 187, 105);
    color: white;
    padding: 14px 20px;
    margin: 30px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

input[type=submit]:hover {
    background-color: rgb(56, 151, 85);
  }